/* Removing the arrows on the number input boxes */
/* For most browsers (Chrome, Edge, etc.) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"] {
    width: 35px;
    background-color: #555558;
    color: #ffffff;
    font-family: "Computer Modern", mono;
    font-size: 14px;
    border: 0;
}
input[type="number"]:focus {
    width: 35px;
    outline: none;
    background-color: #555558;
    color: #ffffff;
    box-shadow: 0 0 5px 2px #778866;
}
input[type="checkbox"] {
    accent-color: #555568;
    width: 20px;
    height: 20px;
}

#addition-settings,
#multiplication-settings,
#subtraction-settings,
#division-settings
{
    margin-left: 20px
}

#answerInput {
    background-color: #333333;
    color: #bbbbbb;
    border: 0px;
    font-family: "Computer Modern", mono;
    font-size: 36px;
    height: 50px;
    width: 80px;
}

#answerInput:focus {
    outline: none !important;
    /*            outline-color: #FF0000; */
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

#app {
    width: 50%;
    align-items: center;
    justify-content: center;
}

#game {
    display: none;
    padding-top: 40%;
    text-align: center;
}

#question {
    font-size: 36px;
}

#description {
    padding-top: 20px;
}

body {
    display: flex;
    justify-content: center;
    /* Horizontally center */
    height: 100vh;
    /* Full viewport height */
    margin: 0;
    font-family: "Computer Modern", mono;
    color: #bbbbbb;
    background-color: #444448;
}
form {
    background: #393940;
    padding: 20px 60px;
    border: 1px solid #505050;
    border-radius: 10px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}
.label {
    color: #4488dd;
}
